{% extends 'base.html' %}

{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Welcome to Tweetme</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-10 col-md-4 mx-auto">
        <form class='form py-2' method="POST" action="/create-tweet">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
            <input type="hidden" value='/' name="next">
            <textarea name="content" placeholder="Your Tweet..." rows="3" cols="40"></textarea>
            <button type="submit" class="btn btn-sm btn-primary">Tweet</button>
        </form>

    </div>
</div>

<div class="row" id="tweets">
    Loading...
</div>


<script>
    const tweetsElement = document.getElementById('tweets')

    // var el1 = '<h1>Hi There 1</h1>'
    // var el2 = '<h1>Hi There 2</h1>'

    // tweetsElement.innerHTML = el1 + el2


    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets'
    const responseType = "json"

    function handleDidLike(tweet_id, currentCount) {
        console.log(tweet_id, currentCount)
    }

    function LikeBtn(tweet) {
        return "<button class='btn btn-sm btn-primary' onclick=handleDidLike(" + tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"
    }

    function formatTweetElement(tweet) {
        var formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id + "'><p>" + tweet.content +
            "</p><div class='btn-group'>" + LikeBtn(tweet) +
            "</p></div></div>"
        return formattedTweet
    }

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function () {
        const serverResponse = xhr.response
        const listedItems = serverResponse.response
        var finalTweetStr = ""
        var i;
        for (i = 0; i < listedItems.length; i++) {
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send()

</script>

{% endblock %}